name: Build and Distribute Alpha

on:
  release:
    types: [published]

jobs:
  build-and-distribute:
    # Only run this job if the release is not a pre-release (for prod) or if it is a pre-release (for alpha)
    # This condition ensures this workflow only runs for alpha releases.
    if: github.event.release.prerelease == true
    runs-on: ubuntu-latest
    permissions:
      contents: write # To upload release assets
    steps:
      - name: Checkout code at release tag
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Create google-services.json
        run: echo '${{ secrets.ALPHA_GOOGLE_SERVICES_JSON }}' > ./composeApp/google-services.json

      - name: Decode and setup keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > ${{ github.workspace }}/spacex-release-keystore.jks

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '8.14.3'

      - name: Build Android App
        env:
          RELEASE_KEYSTORE_FILE: ${{ github.workspace }}/spacex-release-keystore.jks
          RELEASE_KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          RELEASE_KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          RELEASE_KEY_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        run: gradle :composeApp:assembleAlphaRelease -PappVersion=${{ github.event.release.tag_name }}

      - name: Upload Release Artifact
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ github.event.release.tag_name }} ./composeApp/build/outputs/apk/alpha/release/composeApp-alpha-release.apk

      - name: Create release notes file
        run: echo '${{ github.event.release.body }}' > release-notes.md

      - name: Convert Markdown to plain text with Pandoc
        uses: docker://pandoc/core:3.8
        with:
          args: "-f gfm -t plain --wrap=none release-notes.md -o release-notes.txt"

      - name: Install Firebase CLI (standalone)
        run: curl -sL https://firebase.tools | bash

      - name: Write Firebase service account
        run: echo '${{ secrets.ALPHA_FIREBASE_CREDENTIAL_FILE_CONTENT }}' > "$RUNNER_TEMP/firebase-sa.json"

      - name: Distribute to Firebase App Distribution (CLI)
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ runner.temp }}/firebase-sa.json
        run: |
          firebase appdistribution:distribute ./composeApp/build/outputs/apk/alpha/release/composeApp-alpha-release.apk \
            --app "${{ secrets.ALPHA_FIREBASE_APP_ID }}" \
            --testers "kevinah95@gmail.com" \
            --release-notes-file release-notes.txt
