on:
  push:
    branches:
      - prod

permissions:
  contents: write
  pull-requests: write

name: semantic-release-prod

jobs:
  semantic-release:
    runs-on: ubuntu-latest
    outputs:
      new_release_published: ${{ steps.semantic.outputs.new_release_published }}
      new_release_git_tag: ${{ steps.semantic.outputs.new_release_git_tag }}
      new_release_notes: ${{ steps.semantic.outputs.new_release_notes }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        id: semantic
        with:
          extra_plugins: |
            @semantic-release/exec
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  call-build-workflow:
    needs: semantic-release
    if: needs.semantic-release.outputs.new_release_published == 'true'
    uses: ./.github/workflows/build-and-distribute.yml
    with:
      release_tag: ${{ needs.semantic-release.outputs.new_release_git_tag }}
      release_notes: ${{ needs.semantic-release.outputs.new_release_notes }}
    secrets:
      google-services-json: ${{ secrets.GOOGLE_SERVICES_JSON }}
      keystore-base64: ${{ secrets.KEYSTORE_BASE64 }}
      keystore-password: ${{ secrets.KEYSTORE_PASSWORD }}
      key-alias: ${{ secrets.KEY_ALIAS }}
      firebase-credential-file-content: ${{ secrets.FIREBASE_CREDENTIAL_FILE_CONTENT }}
      firebase-app-id: ${{ secrets.FIREBASE_APP_ID }}
